*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: font;
    src: url(./sf-pro-text_regular.woff2);
}
main{
    height: 100%;
    width: 100%;
    font-family: font;
    padding: 10px;
}
nav{
    height: 100px;
    width: 100%;
    /* background-color: #333; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
nav #nav1{
    display: flex;
    align-items: center;
    gap: 8px;
    color: black;
}
nav #nav2 a{
    color: rgb(107, 105, 105);
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
nav #nav3 button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 14px;
    gap: 10px;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}
nav #nav3  #s{
    background-color: #fff;
    color: #007bff;
    /* font-weight: bold; */
    border: 1px solid #007bff;
}
section{
    padding: 20px;
    height: 800px;
    width: 100%;
    border-radius: 20px;
    background-color: #F6F7F9;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 150px 1fr ;
    grid-template-areas: "top-left top-right"
                         "bottom bottom";
    
}
#top-left{
    grid-area: top-left;
    
    padding: 20px;
}
#top-left h1{
    font-size: 45px;
    letter-spacing: -0.5px;
    font-weight: 100;
    margin-bottom: 10px;
}

#top-right{
    grid-area: top-right;
    /* border-bottom: 1px solid #ccc; */
    padding: 20px;
    
}
#top-right p{
    font-size: 15px;
    color: gray;
    /* line-height: 1.5; */
}
#top-right button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    gap: 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}
#top-right #free{
    background-color: #fff;
    color: #007bff;
    margin-left: 10px;
    border: 1.5px solid #007bff;
}

#bottom{
    grid-area: bottom;
    /* padding: 20px; */
    overflow-y: auto;
    /* background-color: red; */
}
#bottom #card{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-image: url(./main\ banner.png);
    background-size: cover;
    
}
#number{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
#number h2{
    font-size: 60px;
}
#number p{
    font-size: 15px;
    color: gray;
}
#about{
    width: 100%;
    height: 600px;
    background-color:#F6F7F9;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#about1{
    width: 50%;
    height: 600px;
    padding: 20px;
}

#about1 Button{
    background-color:transparent;
    color:black;
    border: 1px solid black;
    padding: 10px 15px;
    gap: 20px;
    font-size: 22px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 80px;
}
#about1 h4{
    font-size: 40px;
    margin-bottom: 30px;
}
#about1 p{
    color: grey;
    font-size: 16px;
}
#about2{
    width: 50%;
    height: 600px;
    
    /* margin-top: 20px; */
    padding: 20px;
    border-radius: 15px;
}
#pic{
    height: 550px;
    width: 100%;
    background-image: url(./side\ pic.png);
    background-color:#2652aa;
    background-size: cover;
    padding: 20px;
    border-radius: 15px;
}
#milestone{
    height: 700px;
    width: 100%;
    border-radius: 20px;
    background-color:#F6F7F9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#mile1{
    /* text-align: center; */
    width: 50%;
    height: 600px;
    padding: 20px;
} 
#milestone #mile1 button{
    background-color:transparent;
    color:black;
    border: 1px solid black;
    padding: 10px 15px;
    gap: 20px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
}
#milestone #mile1 h3{
    font-size: 36px;

}
#mile2{
    width: 50%;
    height: 500px;
    padding: 20px;
}

#milestone #mile2 h6{
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
}
#milestone #mile2 h4{
    font-size: 25px;
    color: rgb(66, 65, 65);
    margin-bottom: 15px;
}
#milestone #mile2>p{
    font-size: 16px;
    color: grey;
    margin-top:60px;
    margin-bottom: 15px;
}

#milestone #mile2  #tech p{
    font-size: 16px;
    color: grey;
    gap: 10px;

}
#expertise{
    height: 1100px;
    width: 100%;
    padding: 30px;
    /* background-color: red; */
}
#expertise button{
    background-color:transparent;
    color:black;
    border: 1px solid black;
    padding: 10px 15px;
    gap: 20px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    /* margin-bottom: 80px; */
}
#expertise #explore #ex{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}
#expertise #explore p{
    color: grey;
    font-size: 16px;
}
#expertise #employee{
    display: flex;
    justify-content: space-between;
}
#expertise #employee .worker{
    height: 350px;
    width: 280px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #4c4848;
    border-radius: 15px;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1562788869-4ed32648eb72?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1172);
    background-size: cover;
    background-position: center;
    text-align: center; 
}
.worker{
    color: white;

}
#expertise #employee {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
}
#connect{
    height: 600px;
    width: 100%;
    border-radius: 20px;
    /* background-color:#F6F7F9; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
}
#connect #connect1{
    width: 50%;
    height: 600px;
    padding: 20px;
    padding: 40px;
}
#connect #connect2{
    width: 50%;
    height: 600px;
    padding: 20px;
}
#connect #connect1 h4{
    font-size: 36px;
    margin-bottom: 20px;
}
#connect button{
    background-color:transparent;
    color:black;
    border: 1px solid black;
    padding: 10px 15px;
    gap: 20px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
#connect h4{
    font-size: 35px;
    margin-bottom: 15px;
}
#connect #connect1 p{
    font-size: 20px;
    margin-bottom: 15px;
    color: grey;
}
#connect #connect1 h6{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 5px;
}
#connect #connect1 i{
    font-size: 32px;
    margin-right: 10px;
}
#connect #connect2 #pic1{
    height: 500px;
    width: 500px;
    border-radius: 10px;
    margin-left: 80px;
    background-image: url(./location.png);
    background-position: center;
    background-size: cover;
}
#ceo{
    height: 600px;
    width: 100%;
    border-radius: 20px;
    /* background-color:#F6F7F9; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
}
#ceo #ceo1{
    width: 50%;
    height: 600px;
    padding: 20px;
}
#ceo #ceo2{
    width: 50%;
    height: 600px;
    padding: 20px;
}
#ceo #ceo1 #logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
#ceo #ceo1 #logo i{
    color: #007bff;
    font-size: 20px;
}
#ceo1 p{
    margin-top: 40px    ;
    font-size: 18px;
    /* color: grey; */
}
#ceo #ceo1 h3{
    margin-top: 150px;
    font-size: 28px;
}
span{
    color: grey;
}
#contact{
    height: 500px;
    width: 100%;
    border-radius: 20px;
    background-color:#232323;
    color: white;
    margin-top: 20px;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 1fr 40px;
    grid-template-areas: "col1 col2 col3 col4"
                          "lang copy copy social";
}
#col1{
    grid-area: col1;
    /* background-color: red; */
    padding: 15px;
}
#col1 h4{
    margin: 20px;
    font-size: 25px;
}
#col1 input {
    padding: 6px 6px;
    border-radius: 20px;
    border: none;

}
#head{
    display: flex;
    align-items: center;
    
    gap: 10px;
}
#col1 button{
    padding: 6px 6px;
    border-radius: 20px;
    border: none;
    background-color:#007bff;
    color: white;
}
#col2{
    grid-area: col2;
    /* background-color: rgb(21, 146, 34); */
    line-height: 2.5;
    font-size: 16px;
}
#col3{
    grid-area: col3;
    /* background-color: rgb(146, 209, 19); */
    line-height: 2.5;
    font-size: 16px;
}
#col4{
    grid-area: col4;
    /* background-color: rgb(74, 5, 45); */
    line-height: 2.5;
    font-size: 16px;
}
#lang{
    grid-area: lang;
    /* background-color: rgb(206, 103, 6); */
    padding: 15px;
    font-size: 16px;
}
#copy{
    grid-area: copy;
    /* background-color: rgb(31, 19, 196); */
    line-height: 2.5;
    font-size: 16px;
}
#social{
    grid-area: social;
    /* background-color: rgb(11, 183, 183); */
    
}
#social i{
    margin-right: 10px;
    font-size: 25px;
    border-radius: 50%;
    padding: 4px;
    border: 1px solid white;
}
